<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="propertyConfigurer" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>				
			</list>
		</property>
	</bean>
	
	<bean name="/LoginProcess" class="com.action.login.LoginProcess">
		<constructor-arg ref="userService"/>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sqlMapClient"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>./WEB-INF/SqlMapConfig.xml</value>
        </property>
        <property name="useTransactionAwareDataSource">
            <value>true</value>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <!-- Section 5 -->
    <bean id="sqlMapClientTemplate"
          class="org.springframework.orm.ibatis.SqlMapClientTemplate">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean>

    <!-- Section 6 -->
    <bean id="userDao" class="com.dao.Impl.UserDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean>
    
     <!-- Section 7 -->
    <bean id="userService" class="com.service.Impl.UserServiceImpl">
        <constructor-arg index="0" ref="userDao"/>
    </bean>
    
    
    <!--  For Task -->
    <bean id="taskService" class="com.service.Impl.TaskServiceImpl">    	
    	<property name="taskDao">
           <ref local="taskDao"/>
       </property>
    </bean>
    
    <bean id="taskDao" class="com.dao.Impl.TaskDaoImpl">
    	<property name="sqlMapClient">
    		<ref local="sqlMapClient"/>
    	</property>
    </bean>
    
    <bean name="/TaskDisplay" class="com.action.TaskDisplay">
    	<property name="taskService">
    		<ref local="taskService"/>
    	</property>
    </bean>
    
    <bean name="/TaskProcess" class="com.action.TaskProcess">
    	<property name="taskService">
    		<ref local="taskService"/>
    	</property>
    </bean>
    
     <bean name="/SearchDisplay" class="com.action.SearchDisplay">
    	<property name="taskService">
    		<ref local="taskService"/>
    	</property>
    </bean>
    
    <bean name="/SearchProcess" class="com.action.SearchProcess">
    	<property name="taskService">
    		<ref local="taskService"/>
    	</property>
    </bean>
</beans>        